<body>
<div class="container-fluid">
<a routerLink=""><img class="branding" alt="logo" [src]="logo" height="48px" /></a>
<h1>Business List</h1>
</div>

<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="business/create" class="nav-link" routerLinkActive="active">
          Create Business
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="business" class="nav-link" routerLinkActive="active">
          Business
        </a>
      </li> 
    </ul>
  </div>
</nav> 
<br />
<button class="btn btn-default" (click)="login()">
    Login
</button>
<button class="btn btn-default" (click)="logoff()">
    Logout
</button>
<ul>
<li>First: {{first}}</li>
<li>Last: {{last}}</li>
<li>Email: {{email}}</li>
<li>Provider: {{provider}}</li>
</ul>
<div class="container">
  <router-outlet></router-outlet>
</div>
</body>